
costconversion/.metadata/.lock
costconversion/.metadata/.log
costconversion/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
costconversion/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
costconversion/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
costconversion/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
costconversion/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
costconversion/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
costconversion/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
costconversion/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
costconversion/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
costconversion/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
costconversion/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
costconversion/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
costconversion/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
costconversion/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
costconversion/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
costconversion/.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
costconversion/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
costconversion/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
costconversion/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
costconversion/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
costconversion/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
costconversion/.metadata/version.ini
